# Database Configuration (SQLite)
# Local SQLite File Root
DB_FILE=billing.db

# Neon Database Configuration (PostgreSQL)
# Once you're ready to switch to Neon, you'll need a different driver (pg)
DATABASE_URL=postgresql://username:password@localhost:5432/mydatabase?sslmode=disable

# JWT Configuration
JWT_SECRET=your_super_secret_key_here
PORT=5001